:root {
  --blue: #586cb8;
}

nav {
  box-sizing: border-box;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Helvetica Neu', 'Helvetica', sans-serif;
  background: #F0F0F0;
}

a {
  text-decoration: none;
  color: var(--blue);
}




.login-wrapper {
  top: 70px;
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 200px;
}

.login-modal {
  top: 14%;
  width: 400px;
  margin: auto;
  padding: 30px;
  box-shadow: 0px 0px 20px 0px dimgray;
  background: white;
}

.login-modal .title {
  color: var(--blue);
  font-size: 1.8em;
  text-align: center;
  padding: 15px;
  margin-bottom: 15px;
}

.login-modal .error {
  margin: 15px;
  padding: 10px;
  border: 1px solid var(--blue);
}

.login-modal .error li {
  margin-left: 15px;
}

.login-modal .input {
  margin-top: 15px;
}


label {
  font-size: 0.9em;
}
#home{
  background-image: url('../images/bgimage.jpg');
  background-repeat: no-repeat;
}

.bg-container{
  align-content:center;
  padding-top:10px;
  padding-bottom: 20px;
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  font-size:2em;

}

.bg-grid-container{
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  border: solid 3px;
  border-color: var(--blue);
  color: var(--blue);
  text-shadow: none;
}



.bg-grid{
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  width : 100%;
  

  
}
.bg-text{
  padding-left:10%;
  text-align: justify;
  width : 80%;
}

input[type="datetime-local"], input[type="text"] {
	font-size: 0.6em;
	border: 1px solid #CCC;
	padding: 1%;
	width: 95%;
	margin-left: 1%;
}

#search_selector {
	padding-top: 13%;
	padding-bottom: 10%;
	padding-left: 15%;
	text-align: justify;
}

.login-modal input[type="text"],
.login-modal input[type="submit"],
.login-modal input[type="password"],
.login-modal input[type="number"],
.login-modal input[type="email"],
.login-modal select {
  display: block;
  margin-top: 4px;
  width: 100%;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #CCC;
}

.login-modal input {
  margin-bottom: 16px;
}

input[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: var(--blue);
	padding: 11%;
	padding-top: 11%;
	border-radius: 0;
	color: white;
	box-sizing: border-box;
	border: 1px solid var(--blue);
	padding-top: 12%;
}

input[type="submit"]:hover {
  border: 1px solid var(--blue);
  background: none;
  color: var(--blue);
}

#search-button:hover {
  border: 1px solid var(--blue);
  background: white;
  color: var(--blue);
}

.login-modal input[type="submit"]:active {
  opacity: 0.8;
}

.login-modal .select-wrap select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: white;
  border-radius: 0;
  font-size: 1em;
}

.login-modal .select-wrap {
  position: relative;
}

.login-modal .select-wrap:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #666;
  position: absolute;
  right: 16px;
  top: 17px;
  pointer-events: none;
}

.login-modal .img {
  height: 70px;
  width: 70px;
  margin: 0 auto;
  margin-top: -70px;
  border-radius: 50%;
  background: url('../images/login_icon.png') var(--blue);
  background-position: center 10px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid white
}

.login-modal .img-shadow {
  z-index: -10;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  margin-top: 0px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px dimgrey;
}

.login-modal input[type='checkbox'],
.login-modal input[type='checkbox']+label {
  cursor: pointer;
  float: left;
}

.login-modal a {
  font-size: 0.9em;
  float: right;
}

.clear {
  clear: both;
}

input[type="submit"] {
  cursor: pointer;
}


nav {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  background: white;
  padding-left: 0px;

}

nav ul {
  display: block;
  text-align: right;
  margin: 0px;
  padding-left: 0px;

}

nav ul li {
  height: 40px;
  display: inline-block;
  border-color: transparent;
  transition: border-color 0.35s linear;
  padding-right:10px;
  padding-left:10px;

}
nav ul li a {
  font-weight: bold;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;

}

nav ul li:hover {
  border-bottom: 3px solid var(--blue);
}

.right_side{
  text-align: right; 
}

.left_side{
  text-align: left;
}

nav input[type="submit"] {
  border: 1px solid var(--blue);
  background: var(--blue);
  border-radius: 0;
  color: white;
  box-sizing: border-box;
  height: 100%;
  padding: 0 20px;
  margin-right: 10px;
}


.container-1000px {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px;
}

.left {
  float: left;
  width: 30%;
}

.right {
  float: left;
  width: 70%;
}

.personal-data .img {
  background: var(--blue);
  width: 80%;
}

.img img {
  width: 100%;
}

.personal-data input[type=text],
.personal-data input[type=password],
.personal-data input[type=email]{
  display: block;
  margin-bottom: 16px;
  padding: 8px;
  padding-bottom: 0;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  background: none;
}

.personal-data input:not([type=checkbox]) {
  width: 100%;
  max-width: 400px;
}

.non-content-pages {
  width: 300px;
  margin: 0 auto;
}

.error {
  position: fixed;
  top: 70px;
  right: 0;
  line-height: 25px;
  padding: 20px;
  color: #800000;
  background: #ff7171;
  text-align: center;
}

.error span {
  cursor: pointer;
  font-weight: bold;
}

.error span:hover {
  color: white;
}
footer{
  padding-top: 100px;
  margin-left: 15%;
  max-width: 70%;
  text-align: center;
}
main{
  min-height: 720px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.cardview {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}