/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
 body{
	font-family:Arial, Helvetica, sans-serif;
	background:#ECECEC;
 }
/**** LOGIN_SIGNUP ******/
/* signup Form styles */
#signup ol{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#signup li{
	position: relative;
}
#signup fieldset input,
#signup fieldset textarea,
#signup fieldset select{
	background: #fff url(ico_validation.png) 379px 24px no-repeat;
	display: inline-block;
	width: 371px;
	border: 1px solid #fff;
	padding: 3px 26px 3px 3px;		
	-moz-transition: background-color 1s ease;
	-webkit-transition: background-color 1s ease;
	-o-transition: background-color 1s ease;
	transition: background-color 1s ease;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#signup fieldset select{ 
	width: 401px; 
	padding: 3px;
}
#signup fieldset #postcode{ 
	padding: 3px;
	width: 400px;
}
#signup input::-webkit-input-placeholder,
#signup input:-moz-placeholder {
	color: #A6A6A6;
}
#signup .validation01
{ 
	background: red;
	color: #fff;
	display: none;
	font-size: 12px;
	padding: 3px;
	position: absolute;
	right: -160px;
	text-align: center;
	top: 0;
	width: 150px;
	outline: 0;
	
	-moz-box-shadow: 0px 0px 4px #ffffff;
	-webkit-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 4px #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#signup input:focus + .validation01 { 
	display: block; 
}
#signup input:focus:required:invalid + .validation01 .valid,
#signup input.error:focus + .validation01 .valid,
#signup input.required:focus + .validation01 .valid,
#signup input:focus + .validation01 .valid	{
	display: none; 
}
#signup input:focus:required:valid + .validation01,
#signup input.valid:focus + .validation01{ 
	background: green; 
}
#signup input:focus:required:valid + .validation01 .invalid,
#signup input.valid:focus + .validation01 .invalid	{ 
	display: none; 
}
#signup input:focus:required:valid + .validation01 .valid,
#signup input.valid:focus + .validation01 .valid{
	display: block; 
}
#signup fieldset input:required:valid{ 
	background-color: #fff;
	background-position: 379px -61px;
}

/* Enhanced error styling */
#signup input.error{
	background-color: pink; 
	background-position: 379px 3px;
	outline: none; 
}
#signup input.required{
	background-color: #fff; 
	background-position: 379px -29px;
}
#signup input.valid { 
	background-color: #fff;
	background-position: 379px -61px;
}

#signup input.error::-webkit-input-placeholder,
#signup inputerror :-moz-placeholder {
	color: #fff;
}
input#email {
    width: 85%;
    padding: 10px 10px 10px 35px;
    font-weight: normal;
    background: none;
    border: 1px solid #8FA4B9;
    color: #545454;
    outline: none;
    font-size: 14px;
    margin: 6px 0 17px 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
	    background: url(/wp-content/themes/w3layouts/images/user.png)no-repeat 8px 10px #fff;
}
input#tel {
    width: 85%;
    padding: 10px 10px 10px 35px;
    font-weight: normal;
    background: none;
    border: 1px solid #8FA4B9;
    color: #545454;
    outline: none;
    font-size: 14px;
    margin: 6px 0 17px 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
	    background: url(/wp-content/themes/w3layouts/images/mobilenum.png)no-repeat 8px 8px #fff;
}
.modal-content {
    background: #fff;
}
/*-- login --*/
html, body {
    height: 100%;
}
/*
.login-section {
    background: url('/wp-content/themes/w3layouts/images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}
.signup-section {
    background: url('/wp-content/themes/w3layouts/images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}*/
.login,.signup {
    width: 380px;
    margin: 0 auto;
	padding: 5% 0;
}
.modal-body {
    padding: 30px 35px 35px;
}
.login-form input[type="text"],.login-form input[type="password"],
.login-form input[type="email"],.login-form input[type="number"]   {
    width: 85%;
    padding: 10px 10px 10px 35px;
    font-weight: normal;
    background: none;
    border: 1px solid #8FA4B9;
    color: #545454;
    outline: none;
    font-size: 14px;
    margin: 6px 0 17px 0px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.login-form input[type="text"]:hover,.login-form input[type="password"]:hover,.login-form input[type="email"]:hover {
    border: 1px solid #314D68;	
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.login-form input[type="submit"] { 
	background:#314D68;
    color: #fff;
    font-size: 17px;
    border: none;
    width: 100%;
    outline: none;
	cursor:pointer;
    -webkit-appearance: none;
    padding: 10px 15px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.login-form input[type="submit"]:hover {
    opacity:0.95;
}
.login-form input.user {
	background: url(/wp-content/themes/w3layouts/images/user.png)no-repeat 8px 10px #fff;
}
.login-form input.lock {
	background: url(/wp-content/themes/w3layouts/images/lock.png)no-repeat 8px 10px #fff;
}
.login-form input.mobilenum {
	background: url(/wp-content/themes/w3layouts/images/mobilenum.png)no-repeat 8px 8px #fff;
}
.modal-dialog {
    width: 380px;
    margin: 92px auto 0;
}
.modal-header {
    border-bottom: none;
	text-align:center;
	background-color: #314D68;
	padding: 22px 12px;
}
.close {
    float: right;
    font-size: 28px;
    font-weight: normal;
    line-height: 1;
    color: #90B8DD;
    text-shadow: 0 0px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}
.close:hover, .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 1;
}
.modal-header .close {
    margin-top: -15px;
}
.modal-header h3 {
    color: #ffffff;
    font-size: 22px;
}
span.checkbox1 {
    float: left;
}
a.forgot {
    float: right;
	color:#ce451b;
	text-decoration:none;
	font-size: 0.875em;
}
label.checkbox {
    margin: 0;
}
.checkbox input[type="checkbox"]{
    margin-left: 0px;
}
.signin-rit .checkbox {
    position: relative;
    font-size: 0.91em;
    font-weight: normal;
    color: #999;
    padding: 0em 0.5em 0em 1.1em;
    margin: 0;
}
.signin-rit .checkbox input {
    position: absolute;
    left: 0px;
    margin-left: 0;
    top: -2px;
}
.signin-rit {
    margin: 1.2em 0;
}
.login-form p {
	text-align:center;
	margin-top:1em;
	font-size:0.95em;
	letter-spacing:1px;
	color: #2F2F2F;
}
.login-form p a {
	color:#ce451b;
}
h5.or {
    text-align: center;
    margin: 20px 0;
    color: #314D68;
}
.social-icons {
    text-align: center;
}
.social-icons ul li {
	display:inline-block;
	margin:0 5px;
}
/*-- //login --*/
a.pp {
    color: #ce451b;
    margin-left: 6px;
    font-size: 15px;
}
p.get-pw {
    color: #989898;
    line-height: 24px;
    margin-bottom: 15px;
    margin-top: 0;
}
.modal-content.modal-info {
    border-radius: 0;
    border: none;
}
/* Styles for dialog window */
#small-dialog,#small-dialog2,#small-dialog3,#small-dialog4,#small-dialog5,#small-dialog6,#small-dialog7,#small-dialog8{
    width: 380px;
    margin: 0 auto;
}
#small-dialog-it,#small-dialog-in,#small-dialog-fr,#small-dialog-sh,#small-dialog-sf,#small-dialog-su,#small-dialog-me,#small-dialog-ch,#small-dialog-pi,#small-dialog-am {
	background: white;
	padding:20px;
	text-align: left;
	max-width: 450px;
	margin: 40px auto;
	position: relative;
	text-align:center;
}
/**

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in #small-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}
.my-mfp-zoom-in #small-dialog2 {
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}
.my-mfp-zoom-in #small-dialog3 {
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready #small-dialog {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.my-mfp-zoom-in.mfp-ready #small-dialog2 {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.my-mfp-zoom-in.mfp-ready #small-dialog3 {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing #small-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
}
.my-mfp-zoom-in.mfp-removing #small-dialog2 {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
}
.my-mfp-zoom-in.mfp-removing #small-dialog3 {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	background: #FFF;
	opacity: .5;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}
/**
/* Magnific Popup CSS */
.mfp-bg {
	top: 0;
	left: 0;	
	width: 100%;	
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background: #0b0b0b;
	opacity: 0.8;
	filter: alpha(opacity=80); 
}
.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: none !important;
	-webkit-backface-visibility: hidden; 
}
.mfp-container {	
	text-align: center;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}
.mfp-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle; 
}
.mfp-align-top .mfp-container:before {
	display: none; 
}
.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045; 
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
	width: 100%;
	cursor: auto; 
}
.mfp-ajax-cur {
  c	ursor: progress; 
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out; 
}
.mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
    cursor: auto;
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.mfp-loading.mfp-figure {
	display: none; }

.mfp-hide {
	display: none !important; 
}
button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: 1046;
}
.mfp-close {
	width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    outline: none;
 }
.mfp-close:hover, .mfp-close:focus {
    opacity: 1; }

.mfp-close-btn-in .mfp-close {
    background: none;
 }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
	color: white;
	right: -6px;
	text-align: right;
	padding-right: 6px;
	width: 100%; 
}
@media all and (max-width:768px){
	#small-dialog, #small-dialog2 {
		  max-width: 85% !important;
	}
	
}
@media all and (max-width:991px){
	.social-sits ul li a {
		font-size: 13px;
	}
}
@media all and (max-width:768px){
	#small-dialog, #small-dialog2, #small-dialog3{
		 max-width: 80%;
	}
}
@media all and (max-width:320px){
	#small-dialog, #small-dialog2 {
		max-width: 95% !important;
	}
	#small-dialog, #small-dialog2, #small-dialog3{
		max-width: 95%;
	}
} 

/**** END-LOGIN_SIGNUP ******/

/**** USER ALREADY EXISTS ******/
.error_strip  {
	background:#c43830;
	color:#fff;
	padding:17px 0;
	font-size:14px;
	letter-spacing:1px;
}
.error_strip img {
	vertical-align: bottom;
	margin-right:5px;
}
/**** //USER ALREADY EXISTS ******/

/**** Successfully Registered ******/
.success {
	background:#008000;
	color:#fff;
	padding:17px 0;
	font-size:14px;
	letter-spacing:1px;
}
/**** //Successfully Registered ******/

/** Responsive-design **/
@media only screen and (max-width:800px) {
	#signup .validation01
	{ 
		right: -90px;
		top: 30px;
		z-index:9999;
	}   
}
@media only screen and (max-width:640px) {
	.modal-dialog {
		width: 360px;
		margin: 80px auto 0;
	}
	.login, .signup {
		width: 360px;
	}
	#signup .validation01
	{ 
		right: -20px;
		top: 30px;
	}
}
@media only screen and (max-width:430px) {
	.login-form p {
		letter-spacing: 0px;
	}
	.modal-body {
		padding: 30px 25px 35px;
	}
	.login-form input[type="text"], .login-form input[type="password"], .login-form input[type="email"],input#tel,input#email {
		width: 83%;
	}
	#small-dialog, #small-dialog2 {
		max-width: 90% !important;
	}
}
@media only screen and (max-width:320px) {
	.modal-dialog {
		width: 290px;
		margin: 60px auto 0;
	}
	.login, .signup {
		width: 290px;
	}
	.modal-body {
		padding: 30px 15px 35px;
	}
	  .login-form p {
		font-size: 0.9em;
		letter-spacing: 0px;
	}
	.signin-rit .checkbox {
		padding: 0em 0em 0em 1.1em;
	}
	.popupContainer {
		width: 300px;
		left: 50%!important;
		top: 10px!important;
	}
}